[Unit]
Description=Starting django worker
After=multi-user.target

[Service]
#WorkingDirectory=/home/madern/django/mysite

ExecStartPre=sudo systemctl restart redis.service
ExecStart=/home/madern/django/venv/bin/python /home/madern/django/mysite/manage.py runworker sensor_stream &

Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

