<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel="shortcut icon" href="#">
        <title>Sensor data</title>
        <script src="http://cdn.plot.ly/plotly-2.14.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
<body>

    <h1 class="Title">Sensor data onderzoek rotatieve stans</h1>

    <div class="form">
        <form>
            <input type="checkbox" onclick="return logFunction();">Logging<pre></pre>
            <input type="checkbox" onclick="return showFunction();" checked>Showing<pre></pre>

            <select id="mySelect" onchange="sensorSelect()">
                <option value="distanceSensor">Distance Sensor
                <option value="forceSensor">Force Sensor
                <option value="Both">Both
            </select>
        </form> 
    </div>

    <div class="container">
        <div id="myDiv" class="plot"></div>
        <div class="values">
            <pre><h2>Distance sensor value:  <span id="dsValue"></span></h2></pre>
            <pre><h2>Force sensor value:     <span id="fsValue"></span></h2></pre>
            <pre><h2>Number of values:       <span id="valueNumber"></span></h2></pre>
            <pre><h2>Time from start:        <span id="time"></span></h2></pre>
            <pre><h2>Frequency:              <span id="frequency"></span></h2></pre>
            <pre><h2>Logging:                <span id="logging"></span></h2></pre>
            <pre><h2>Sensor:         <span id="sensorType"></span></h2></pre>
            
        </div>
    </div>
    
    <p id="room" roomName = {{ room_name }}></p>

</body>
    <script>
        console.log(window.location.host)
        document.querySelector('#dsValue').innerText = '*'
        document.querySelector('#fsValue').innerText = '*'
        document.querySelector('#valueNumber').innerText = '*'
        document.querySelector('#time').innerText = '*'
        document.querySelector('#frequency').innerText = '*'
        document.querySelector('#logging').innerText = 'No'
        
        var sensorType = 'distanceSensor'
        var logging = 'False'
        var showing = 'False'
        var arrayLength = 250;
        var yArray = [];
        var xArray = [];
        var layout = {};



        Plotly.newPlot('myDiv', [{
            y: yArray,
            x: xArray,
            mode: 'lines',
            line: {color: '#80CAF6'}
        }], layout);
        console.log("before connection")

        const roomName = document.getElementById('room').getAttribute("roomName");
        console.log(roomName)
        let socket = new WebSocket(
             'ws://'
             + window.location.host
             + '/ws/chart/'
             + roomName
             + '/'
         );
        console.log("after connection")

        function logFunction(){
            if (logging == 'True') {
                logging = 'False'
                document.querySelector('#logging').innerText = 'No'
            } else {
                logging = 'True'
                document.querySelector('#logging').innerText = 'Yes'
            }
            data = JSON.stringify({
                'logging': logging
            })
            socket.send(data)
        }
        console.log("after message")

        function showFunction(){
            if (showing == 'True') {
                showing = 'False'
            } else {
                showing = 'True'
            }
            // data = JSON.stringify({
            //     'showing': showing
            // })
            // socket.send(data)
        }
        showFunction()

        function sensorSelect(){
            sensorType = document.getElementById("mySelect").value;
            document.getElementById("sensorType").innerHTML = sensorType;
            yArray = [];
            xArray = [];
            if (sensorType == "Both"){
                layout = {
                    xaxis: {range: [0, 10], autorange: false},
                    yaxis: {range: [0, 10], autorange: false},
                }
            } else {
                layout = {
                    xaxis: {autorange: true},
                    yaxis: {autorange: true},
                }
            }
        }
        console.log("before onmessage")

        socket.onmessage = function(event){
            console.log("Message recieved")
            var data = JSON.parse(event.data);
            
            if (sensorType == "distanceSensor"){
                xValue = data.time
                yValue = data.dsValue
            } else if (sensorType == "forceSensor"){
                xValue = data.time
                yValue = data.fsValue
            } else {
                xValue = data.fsValue
                yValue = data.dsValue
            }
            
            xArray = xArray.concat([xValue]);
            if (xArray.length >= arrayLength){xArray.splice(0, 1);}
            yArray = yArray.concat([yValue]);
            if (yArray.length >= arrayLength){yArray.splice(0, 1);}
            var data_update = {
                y: [yArray],
                x: [xArray]
            };

            if (showing == 'True'){
                Plotly.update('myDiv', data_update, layout) 
            }
            
            document.querySelector('#dsValue').innerText = data.dsValue.toFixed(2);
            document.querySelector('#fsValue').innerText = data.fsValue.toFixed(2);
            document.querySelector('#valueNumber').innerText = data.messageNumber;
            document.querySelector('#time').innerText = data.time.toFixed(2);
            document.querySelector('#frequency').innerText = (data.messageNumber / data.time).toFixed(2);
        }
        console.log("after onmessage")
    </script>
</html>




<!-- function updateValues(yValue, xValue, nameOfPlot){
    yArray = yArray.concat([yValue]);
    xArray = xArray.concat([xValue]);
    xArray.splice(0, 1);
    yArray.splice(0, 1);
    var data_update = {
        y: [yArray],
        x: [xArray]
    };
    Plotly.update(nameOfPlot, data_update) 
} -->





<!-- socket.onmessage = function(event){
    var data = JSON.parse(event.data);
    temp = myChart['data']['datasets'][0]['data'];
    temp.shift();
    temp.push(data.message);
    myChart['data']['datasets'][0]['data'] = temp;
    // window.myLine.update();


    temp2 = myChart['data']['labels'];
    // temp2.shift();
    temp2.push(data.messageNumber);
    myChart['data']['labels'] = temp2;
    window.myLine.update();


    sensorData.push(data.message);
    document.querySelector('#sensorValue').innerText = data.message;
} 

// var sensorData = [1,2,3]
        // function range(start, end, stepSize) {
        //     return Array(end - start + stepSize).fill().map((_, idx) => start + idx)
        // }

        var sensorData = []
        var labelRange = []

        
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = {
            type: 'line',
            data: {
                labels: labelRange,
                datasets: [{
                    label: 'Real time data',
                    data: sensorData
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        };
        window.myLine = new Chart(ctx, myChart)


-->