<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel='shortcut icon' href='#'>
        <title>Sensor data</title>
        <script src='http://cdn.plot.ly/plotly-2.14.0.min.js'></script>
        <link rel='stylesheet' href='{% static 'styles.css' %}'>
    </head>
<body>

    <h1 class='Title'>Sensor data onderzoek rotatieve stans</h1>

    
    <div class='container'>
        <div id='my_plot' class='plot'></div>

        <div class='values'>
            <div class='form'>
                <form>
                    <pre><h3><a class='log_link' href='http://192.168.252.32:8000/logs/' target='_blank'>Go to log page</a></h3></pre>
                    <input class='check' type='checkbox' onclick='return log_function();'>Logging<pre></pre>
                    <input type='checkbox' onclick='return show_function();' checked>Showing<pre></pre>
                    <input type='checkbox' onclick='return switch_autorange();' checked>Autorange<pre></pre>
                    <div class='value_selectors'>
                        <pre> Y value:    X value: </pre>
                    </div>
                    <select class='y_selectable' id='y_select' value='none' onchange='change_sensor()'>
                        <option value='none' selected disabled hidden>None</option>
                        <option value='time'>Time</option>
                        <option value='sensor0'>Sensor 0
                        <option value='sensor1'>Sensor 1
                        <option value='sensor2'>Sensor 2
                        <option value='sensor3'>Sensor 3
                    </select>
                    <select class='x_selectable' id='x_select' value='none' onchange='change_sensor()'>
                        <option value='none' selected disabled hidden>None</option>
                        <option value='time'>Time</option>
                        <option value='sensor0'>Sensor 0
                        <option value='sensor1'>Sensor 1
                        <option value='sensor2'>Sensor 2
                        <option value='sensor3'>Sensor 3
                    </select>
                </form> 
            </div>
            <div class='sensor_data'>
                <pre><h2>Sensor 0:               <span id='sensor0'></span></h2></pre>
                <pre><h2>Sensor 1:               <span id='sensor1'></span></h2></pre>
                <pre><h2>Sensor 2:               <span id='sensor2'></span></h2></pre>
                <pre><h2>Sensor 3:               <span id='sensor3'></span></h2></pre>
                <pre><h2>Number of value:        <span id='message_number'></span></h2></pre>
                <pre><h2>Time from start:        <span id='running_time'></span></h2></pre>
                <pre><h2>Frequency:              <span id='frequency'></span></h2></pre>
                <pre><h2>Logging:                <span id='logging'></span></h2></pre>
                <pre>
            </div>                
            </pre>
            <p id='download-loading' style='display: inline;'>(download link appears here)</p>
            <a class='download_link' href='' id='download-report' target='_blank' style='display: none;'>Download last log</a><pre></pre>
        </div>
    </div>

    <footer class='footer'>
        <p>This is the web application for the tabletoprdc at Madern</p>
    </footer>

</body>
    <script>
        // console.log(window.location.host)
        for (let value = 0; value < 4; value++) {
            document.querySelector('#sensor' + value).innerText = '*';
        }
        document.querySelector('#message_number').innerText = '*'
        document.querySelector('#running_time').innerText = '*'
        document.querySelector('#frequency').innerText = '*'
        document.querySelector('#logging').innerText = 'No'
        
        var logging = 'False'
        var showing = 'True'
        var autorange = 'True'
        var array_length = 250;
        var xValue = [];
        var yValue = [];
        var yArray = [];
        var xArray = [];
        var layout = {};
        var sensor1_type = 'none'
        var sensor2_type = 'none'
        var file_name = 'data'
        var list_of_file_locations = []
        var list_of_file_names = []

        Plotly.newPlot('my_plot', [{
            y: yArray,
            x: xArray,
            mode: 'lines',
            line: {color: '#80CAF6'}
        }], layout);

        let socket = new WebSocket(
             'ws://'
             + window.location.host
             + '/ws/show/'
         );

        console.log(socket)

        function change_file_name(){
            file_name = document.getElementById('userinput').value;
        }

        function log_function(){
            if (logging == 'True') {
                logging = 'False'
                document.querySelector('#logging').innerText = 'No'
            } else {
                logging = 'True'
                document.querySelector('#logging').innerText = 'Yes'
            }
            data = JSON.stringify({
                'logging': logging
            })
            socket.send(data)
        }

        function show_function(){
            if (showing == 'True') {
                showing = 'False'
            } else {
                showing = 'True'
            }
        }

        function change_sensor(){
            sensor1_type = document.getElementById('x_select').value;
            sensor2_type = document.getElementById('y_select').value;
            yArray = [];
            xArray = [];
            Plotly.update('my_plot', {y: yArray, x:xArray}, layout);
        }

        function switch_autorange(){
            if (autorange == 'True'){
                layout = {
                    xaxis: {range: [0, 10], autorange: false},
                    yaxis: {range: [0, 10], autorange: false},
                }
                autorange = 'False'
            } else {
                layout = {
                    xaxis: {autorange: true},
                    yaxis: {autorange: true},
                }
                autorange = 'True'
            }
        }

        socket.onmessage = function(event){
            var data = JSON.parse(event.data);

            if ('file_info' in data){
                if (data.file_info == ''){
                    document.getElementById('download-loading').style.display = 'inline'
                    document.getElementById('download-report').href = data.file_info
                    document.getElementById('download-report').style.display = 'none'
                } else {
                    document.getElementById('download-loading').style.display = 'none'
                    document.getElementById('download-report').href = data.list_of_file_names[0]
                    document.getElementById('download-report').style.display = 'inline'
                    localStorage.setItem('file_info', JSON.stringify(data.file_info));
                    localStorage.setItem('list_of_file_names', JSON.stringify(data.list_of_file_names));
                }

            } else {
                var sensor_values = data.sensor_values

                for (let x_sensor_number = 0; x_sensor_number < sensor_values.length; x_sensor_number++) {
                    if (sensor1_type == 'sensor' + x_sensor_number){
                        xValue = sensor_values[x_sensor_number]
                        break
                    } else if (sensor1_type == 'time'){
                        xValue = data.running_time
                    } else {
                        xValue = 0
                    }
                }
                for (let y_sensor_number = 0; y_sensor_number < sensor_values.length; y_sensor_number++) {
                    if (sensor2_type == 'sensor' + y_sensor_number){
                        yValue = sensor_values[y_sensor_number]
                        break
                    }else if (sensor2_type == 'time'){
                        yValue = data.running_time
                    } else {
                        yValue = 0
                    }
                }

                if (xValue != 0 && yValue != 0){
                    xArray = xArray.concat([xValue]);
                    if (xArray.length >= array_length){xArray.splice(0, 1);}
                    yArray = yArray.concat([yValue]);
                    if (yArray.length >= array_length){yArray.splice(0, 1);}
                    var data_update = {
                        y: [yArray],
                        x: [xArray]
                    };

                    if (showing == 'True'){
                        Plotly.update('my_plot', data_update, layout) 
                    }
                }

                for (let value = 0; value < sensor_values.length; value++) {
                    document.querySelector('#sensor' + value).innerText = sensor_values[value].toFixed(2);
                }
                document.querySelector('#message_number').innerText = data.message_number;
                document.querySelector('#running_time').innerText = data.running_time.toFixed(2);
                document.querySelector('#frequency').innerText = (data.message_number / data.running_time).toFixed(2);
            }
        }
    </script>
</html>
